* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Inter, sans-serif;
    text-decoration: none;
    color: #000;
}

a:hover{
    filter: invert();
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    background-image: linear-gradient(48deg, rgb(165, 165, 255), rgb(200, 200, 255),rgb(165, 165, 255));
    
    padding: 1rem;
    gap: 1rem;
}

.leaflet-control-attribution{
    font-size: 0.7rem;
}